<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper的命名空间 要和Mapper接口的 全类名保持一致 -->
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">
    <select id="getUserByUsername" resultType="User">
        select id, username,password,age,gender,email from t_user where username=#{username}
    </select>

    <select id="checkLogin" resultType="User">
        <!-- select id, username,password,age,gender,email from t_user where username=#{arg0} and password=#{arg1} -->
        select id, username,password,age,gender,email from t_user where username=#{param1} and password=#{param2}
    </select>

    <select id="checkLoginByMap" resultType="User">
        select id, username,password,age,gender,email from t_user where username=#{username} and password=#{password}
    </select>

    <insert id="insertUser" >
        insert into t_user(id,username,password,age,gender,email)values(null,#{username},#{password},#{age},#{gender},#{email})
    </insert>

    <select id="checkLoginByParam" resultType="User">
        select id, username,password,age,gender,email from t_user where username=#{username} and password=#{password}
    </select>
</mapper>